﻿html,
body { height: 100%; }

body {
    padding: 0px;
    display: flex;
    flex-direction: column;
}

main {
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: #0a559b;
}

#content {
    width: 80%;
    margin: 0px auto;
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 120px;
    content: "";
    padding: 20px;
    flex: 1 0 auto;
}

#content #menu  nav  a {
    color: black;
}

#links {
    display: flex;
    flex-direction: column;
    float: right;
}

#links a { 
    color: black;
    padding-top: 10px
}

footer {
    text-align: center;
    display: flex;
    flex-shrink: 0;
    background-color: #0a559b;
    height: 60px;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
}

#up {
    height: 40px;
    border: 2px solid white;
    border-radius: 4px;
}

#up,
footer a:link {
    color: white;
}

#reviews textarea {
    margin-bottom: 10px;
}

.article {
    padding: 5px 5px;
    margin: 20px 0px;
    border: 2px solid black;
}


#reviews > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reviews > form > #name {
    width: 100%;
    margin-bottom: 10px;
}
    
#title img {
    width: 120px;
    height: auto;
}

#form > form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#form > form > input {
    width: 100%;
}

#reviews > #form > p {
    margin-top: 10px;
}

textarea { 
    resize: none; 
    width: 100%;
}

#submit {
    width: 100%;
    text-align: center;
}