﻿
@{
    ViewBag.Title = "Form Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>

<div id="form">

    @using (Html.BeginForm("FormPage", "Form", FormMethod.Post))
    {
        <label>Enter your name</label>
        @Html.TextBox("name", "");
<p>
    Do you want more science fiction books?
    <span>
        @Html.CheckBox("wantSciFi")
    </span>
</p>
<p>
    Do you want a version of this site for smartphones?
    <span>
        @Html.CheckBox("wantMobileVersion", "")
    </span>
</p>
        <ul>What literary genre do you prefer?</ul><br />
        <li>Utopian fiction @Html.RadioButton("genre", "Utopian fiction")</li><br />
        <li>Historical fiction @Html.RadioButton("genre", "Historical fiction")</li><br />
        <li>Crime novel @Html.RadioButton("genre", "Crime novel")</li><br />
        <li>Adventure @Html.RadioButton("genre", "Adventure")</li><br /><br />
        <input class="submit" type="submit" value="Send" />
    }
</div>
<script scr="~/Scripts/FormResult.js"></script>