﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <main>
        <h1>
            <span id="title">
                <img alt="logo" src="~/logo.png" class="logo" />
            </span>Library "Task23_Low"
        </h1>
    </main>
    <div id="content">
        <div id="left">
            @RenderBody()
        </div>
        <div id="menu">
            <nav id="links">
                <a href="/Main/MainPage">Main page</a>
                <a href="/Guest/GuestPage">Guest page</a>
                <a href="/Form/Form">Form page</a>
            </nav>
        </div>
    </div>
    <br />
    <footer>
        <p>
            <span>
                Copyright &copy; @DateTime.Now.Year. All Rights Reserved.
            </span>
            Maksym Kot 
            <span>
                <a href="mailto:rabbit0165@gmail.com">rabbit0165@gmail.com</a>
            </span>
            <span><a href="#" id="up">To Top</a></span>
        </p>
        <script src="~/Scripts/up.js"></script>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
