﻿
@{
    ViewBag.Title = "Guest Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<div id="reviews">
    @foreach ((string name, string dateOfPublish, string text) a in Model)
    {
        <div class="article">
            <p>@a.name:</p>
            <p>@a.dateOfPublish</p>
            <p>@a.text</p>
        </div>
    }

    @using (Html.BeginForm("AddReview", "Guest", FormMethod.Post))
    {
        <input type="hidden" value=@DateTime.Now.ToShortDateString() name="date" />
        <p>Enter your name</p>
        @Html.TextBox("name", "");
        <p>Enter your review</p>
        @Html.TextArea("text", "", null);
        <input class="submit" type="submit" value="Send" />
    }
</div>


