﻿@{
    ViewBag.Title = "Main Page";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

@foreach((string name, string dateOfPublish, string text) a in Model)
{
        <h2>@a.name</h2>
        <p>@a.dateOfPublish</p>
        <br />
        <p>@a.text</p>
}