﻿@helper DrawResultsOfForms(List<(string name, string genre, bool wantScifi, 
    bool wantMobileVersion)> data)
{
    <ul>Number of people, which prefer a certain genre:</ul>
    <li>Utopian fiction: @data.Where(x => x.genre.Equals("Utopian fiction")).Count()</li>
    <li>Historical fiction: @data.Where(x => x.genre
        .Equals("Historical fiction")).Count()</li>
    <li>Crime novel: @data.Where(x => x.genre.Equals("Crime novel")).Count()</li>
    <li>Adventure: @data.Where(x => x.genre.Equals("Adventure")).Count()</li><br />
    <ul>What people want:</ul>
    <li>@data.Where(x => x.wantMobileVersion).Count() people want a mobile version of this site</li>
    <li>@data.Where(x => x.wantScifi).Count() people want more science fiction books</li>
}